@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2" ) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2" ) format("woff2");
  font-display: swap;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: rgba(0, 0, 0, 1);
  background-color:rgba(255, 255, 255, 1);
}

.page_header {
  color: rgba(0, 0, 0, 1);
  background-color:rgba(255, 255, 255, 1);
}

.navigation_link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  text-align: center;
 }

 .navigation_link_button {
  background-color: rgba(117, 97, 87, 1);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  text-align: center;
 }

 .navigation_link_pagination_current {
  background-color: rgba(242, 242, 242, 1);
  color: rgba(0, 0, 0, 1);
 }

 .subscribe_button {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
 }
 .main_index {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color:rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  background-image: url("../images/hero/hero.jpg");
 }

 .hero_title {
  text-transform: uppercase;
  text-align: center;
 }

 .hero_description {
  text-align: center;
 }

 .advantages_title {
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
 }

 .advantages_description {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
 }

 .booking_title {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
 }

 .booking_description {
  text-align: center;
 }

 .booking_link {
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
 }

 .subscribe_form {
  background-image: url("../images/subscribes.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
 }
.subscribe_description {
  text-align: center;
}

.advantages_item_light_blue{
  background-color: rgba(130, 179, 211, 0.12);
}

.advantages_item_blue {
  background-color:  rgba(130, 179, 211, 1);
}

.advantages_item .nolight_blue {
  background-color: rgba(130, 179, 211, 0.2);
}

.contacts a {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  text-align: center;
}

.product_card_rating {
  background-color: rgba(242, 242, 242, 1);
}

.product_card_stars {
  background-image: url("../images/catalog/star.svg");
}

.breadcrumbs_home_logo {
  background-image: url("../images/catalog/home.svg");
}

.advantages_title.house::before {
  width: 75px;
  height: 72px;
  background-size: contain;
  content: url("../images/advantages/house.svg");
  position: absolute;
}

.advantages_title.food::before {
  width: 75px;
  height: 72px;
  background-size: contain;
  content: url("../images/advantages/food.svg");
  position: absolute;
}

.advantages_title.gifts::before {
  width: 75px;
  height: 72px;
  background-size: contain;
  content: url("../images/advantages/gifts.svg");
  position: absolute;
}
