@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 40px;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(242, 242, 242, 1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-container {
  width: 100%;
  margin: 0;
}

.main_index {
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  background-image: url("../images/hero/hero_new.jpg");
  height: 485px;
}

.page_header {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  min-height: 64px;
}

.logo {
  display: block;
  margin-left: 70px;
}

.navigation {
  width: 507px;
  display: flex;
  justify-content: space-between;
}

.navigation_list {
  width: 339px;
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
  list-style: none;
  margin-right: 285px;
}

.navigation_list.navigation_right {
  margin: 0;
  padding-top: 14px;
  padding-right: 70px;
  width: 268px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.navigation_link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  text-align: center;
  width: 507px;
}

.navigation_link_button {
  background-color: rgba(117, 97, 87, 1);
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  text-align: center;
  min-width: 160px;
  height: 36px;
  text-transform: uppercase;
}

.navigation_link_pagination_current {
  background-color: rgba(242, 242, 242, 1);
  color: rgba(0, 0, 0, 1);
}

.navigation_item {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
  min-width: 100px;
}

.hero {
  background-color: rgba(255, 255, 255, 1);
  margin: 0;
}

.hero_description {
  text-align: center;
}

.hero_title {
  text-transform: uppercase;
  text-align: center;
  width: 620px;
  padding-left: 290px;
  padding-right: 290px;
  padding-top: 69px;
  margin: 0;
}

.hero_description {
  max-width: 651px;
  align-items: center;
  padding-left: 275px;
  padding-top: 25px;
  padding-bottom: 90px;
}

.advantages {
  margin: 0;
}

.advantages_list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.advantages_title {
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  width: 230px;
  margin: 0;
  padding-top: 92px;
  padding-left: 125px;
}


.advantages_title.house::before {
  width: 75px;
  height: 75px;
  background-size: contain;
  content: url("../images/advantages/house.svg");
}

.advantages_title.food::before {
  width: 75px;
  height: 72px;
  background-size: contain;
  content: url("../images/advantages/food.svg");
}

.advantages_title.gifts::before {
  width: 75px;
  height: 72px;
  background-size: contain;
  content: url("../images/advantages/gifts.svg");
}

.advantages_description {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
  max-width: 230px;
  padding-top: 201px;

}

.advantages_item_blue {
  display: flex;
  background-color: rgba(130, 179, 211, 1);
  min-width: 400px;
  min-height: 384px;
  margin: 0;
  color: rgba(255, 255, 255, 1);
}

.advantages_item_light_blue {
  background-color: rgba(130, 179, 211, 0.12);
  width: 400px;
  min-height: 384px;
  display: flex;
  flex-direction: column;
}

.advantages_item .nolight_blue {
  display: flex;
  background-color: rgba(130, 179, 211, 0.2);
  width: 400px;
  min-height: 384px;
}

.advantages_photo_central {
  width: 800px;
  margin-left: auto;
}

.booking {
  background-color: rgba(255, 255, 255, 1);
  margin: 0;
}

.booking_title {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.booking_description {
  text-align: center;
  max-width: 592px;
  padding-left: 304px;
}

.booking_link {
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

.boking_button {
  text-align: center;
}

.subscribe {
  text-align: center;
  margin: 0;
}

.subscribe_form {
  background-image: url("../images/subscribes.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 414px;

}

.subscribe_title {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: rgba(255, 255, 255, 1);
  padding-top: 96px;
  padding-bottom: 20px;
}

.subscribe_description {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: rgba(255, 255, 255, 1);
  padding-bottom: 34px;
  max-width: 475px;
  padding-left: 363px;
}

.subscribe_button {
  border-radius: 4px;
  border: none;
  width: 232px;
  height: 52px;
  font-size: 20px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  line-height: 36px;
  text-transform: uppercase;
  background-color: rgba(130, 179, 211, 1);
}

input {
  width: 452px;
  height: 52px;
  border-radius: 4px;
  border: none;
}

.page_footer {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  padding-left: 70px;
  margin: 0;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  margin-right: 70px;
  margin-left: 70px;
  margin-top: 40px;
  margin-bottom: 30px;
  max-height: 120px;
}

.footer_social {
  max-width: 142px;
  margin-right: 42px;
  display: flex;
  justify-content: space-between;
}

.footer_link {
  margin: 10px;
}

.contacts_tel {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  font-size: 40px;
  width: 720px;
  margin: 0;
}

.visually_hidden {
  visibility: hidden;
}

.product_card_rating {
  background-color: rgba(242, 242, 242, 1);
}

.product_card_stars {
  background-image: url("../images/catalog/star.svg");
}

.breadcrumbs_home_logo {
  background-image: url("../images/catalog/home.svg");
}
